.red {
  position: relative;
}

.red::after {
  content: '';
  display: block;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/images/red-house-tapes.jpg);
  filter: blur(8px);
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  
}

.keyboard {
  position: relative;
}

.keyboard::after {
  content: '';
  display: block;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/images/keyboard-club.jpg);
  filter: blur(8px);
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(100, 99, 99, 0.644);
  border: 3px solid black;
  border-radius: 3px;
  color: white;
  z-index: 2;
  width: 50%;
  padding: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #e3dac9;
}

.button {
  background-color: #e3dac9;
  display: inline-block;
  color: black;
  margin-top: 16px;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .container {
    width: 80%;
  }
  
}
