.wrapper {
  text-align: center;
  margin: 26px;
}

.welcome {
  font-size: 3rem;
  color: #e3dac9;
  margin: 32px;
}

.intro {
  font-size: 2rem;
  color: #e3dac9;
  margin: 32px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.link {
  margin: 16px;
  color: #e3dac9;
  white-space: nowrap;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .intro {
    font-size: 1.5rem;
  }
}

